@page
@model AplicatieStudenti.Pages.Profesori.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Stergere</h1>

<h3>Esti sigur ca vrei sa stergi aceasta inregistrare?</h3>
<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor.Specializare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Specializare)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Profesor.ID" />
        <input type="submit" value="Stergere" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista de profesori</a>
    </form>
</div>
