@page
@model AplicatieStudenti.Pages.Profesori.DetailsModel

@{
    ViewData["Title"] = "Detalii profesor";
}

<h1>Detalii profesor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor.Specializare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Specializare)
        </dd>
    </dl>
</div>

<div>
    <h4>Cursuri predate</h4>
    <hr />
    <ul>
        @foreach (var curs in Model.Cursuri)
        {
            <li>@curs.NumeCurs</li>
        }
    </ul>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Profesor.ID" class="btn btn-primary btn-warning">Editare</a> |
    <a asp-page="./Index" class="btn btn-secondary ms-2">Inapoi la lista de profesori</a>
</div>
