@page
@model AplicatieStudenti.Pages.Profesori.IndexModel

@{
    ViewData["Title"] = "Profesori";
}

<h1>Profesori</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Adauga profesor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].Specializare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Profesor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specializare)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editare</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Stergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
