@page
@model AplicatieStudenti.Pages.Studenti.IndexModel
@{
    ViewData["Title"] = "Studenti";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Adauga student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Email</th>
            <th>Data Nasterii</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Nume</td>
                <td>@item.Prenume</td>
                <td>@item.Email</td>
                <td>@item.DataNasterii.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-warning">Editeaza</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">Sterge</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
