@page
@model AplicatieStudenti.Pages.Cursuri.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Curs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curs.NumeCurs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curs.NumeCurs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curs.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curs.Descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Curs.ID">Editare</a> |
    <a asp-page="./Index">Inapoi la lista de cursuri</a>
</div>
