@page
@model AplicatieStudenti.Pages.Cursuri.IndexModel
@{
    ViewData["Title"] = "Cursuri";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Adauga curs</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nume curs</th>
            <th>Descriere</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Curs)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.NumeCurs</td>
                <td>@item.Descriere</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-warning">Editeaza</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">Sterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
