@page
@model AplicatieStudenti.Pages.Inscrieri.IndexModel
@{
    ViewData["Title"] = "Lista inscrieri";
}

<h1>Lista inscrieri</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Adauga inscriere</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Student</th>
            <th>Curs</th>
            <th>Profesor</th>
            <th>Actiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inscrieri)
        {
            <tr>
                <td>@item.Student?.Nume @item.Student?.Prenume</td>
                <td>@item.Curs?.NumeCurs</td>
                <td>@item.Profesor?.Nume @item.Profesor?.Prenume</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary btn-warning">Editeaza</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-danger">Sterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
